code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.map-container {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

#account-wrapper {
  float: right;
}

.nav-item {
  display: inline-block;
  padding: 0.5em;
}

.nav-profile {
  padding: 0.5em;
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 12px;
  background: url("https://api.iconify.design/gg-profile.svg?color=white") no-repeat center center / contain;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #233f5a;
}
.nav-profile:hover {
  border: 1px solid #5482af;
}

html {
  background-color: rgb(52, 81, 109);
}

.event-form {
  padding: 10px;
}

.event-form-label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.event-input-text,
.event-textarea,
.event-input-date {
  width: 404px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: "Arial";
  font-size: inherit;
}

.event-submit-buttons {
  background-color: rgba(52, 81, 109);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 12px;
  font-size: inherit;
}

.event-submit-buttons:hover {
  background-color: rgba(25, 40, 54);
}

.event-create-container {
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 450px;
  font-family: "Arial";
  background-color: white;
  margin: 8px;
  top: 15%;
  left: 70%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.event-header {
  padding: 10px;
  border-width: 0px;
  border-color: black;
  border-bottom-width: 2px;
  border-style: solid;
  background-color: rgba(52, 81, 109);
  text-align: center;
  color: #fff;
  height: 20px;
  font-size: inherit;
}

.event-row:after {
  content: "";
  display: table;
  clear: both;
}

.event-col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.event-col-75 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.event-col-50-left {
  float: left;
  width: 49%;
  margin-top: 12px;
}

.event-col-50-right {
  float: right;
  width: 49%;
  margin-top: 12px;
}

.event-col-25,
.event-col-75,
.event-submit-buttons {
  width: 100%;
  margin-top: 0;
}

.event-header-middle {
  display: inline;
}

.event-close-outside {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  float: right;
}

.event-close-outside:hover {
  cursor: pointer;
}

.event-close-x-left {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  z-index: 1;
}

.event-close-x-right {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  z-index: 2;
}

.create-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.create-buttons-left {
  float: left;
}

.create-buttons-left:hover {
  cursor: pointer;
  background: rgb(67 104 140);
}

.create-buttons-right {
  margin-left: 25px;
  float: right;
}

.create-buttons-right:hover {
  cursor: pointer;
  background: rgb(67 104 140);
}

.circleBase {
  border-radius: 50%;
}

.type1 {
  width: 100px;
  height: 100px;
  background: rgba(52, 81, 109);
}

.outer-icon {
  padding-top: 12.5px;
  height: 87.5px;
  width: 100px;
}

.inner-calendar-icon {
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  filter: invert(100%);
  background: url("https://api.iconify.design/fluent:calendar-add-20-filled.svg") no-repeat center center / contain;
}

.inner-group-icon {
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  filter: invert(100%);
  background: url("https://api.iconify.design/fluent:people-team-add-20-filled.svg") no-repeat center center / contain;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.friend-item {
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  background-color: #eee;
  width: 300px;
}

.friends-list-container {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 2;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.friends-list-header {
  font-size: 15pt;
  color: white;
  display: flex;
  max-inline-size: 300px;
  justify-content: center;
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  background-color: rgb(52, 81, 109);
}

.bi.bi-circle-fill {
  fill: rgb(44, 248, 44);
}

.friend-list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.friend-list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.125);
}

.friend-list-group-item:first-child {
  border-radius: inherit;
}

.friend-list-group-item:last-child {
  border-radius: inherit;
}

.profile-text {
  text-align: center;
}

.profile-title {
  font-weight: bold;
  text-align: center;
}

.chat {
  display: flex;
}

/* ultimate chatroom container */
.chatroom {
  width: 100%;
  z-index: 1;
  float: left;
  background-color: white;
  border: grey;
  font-size: 1rem;
  overflow-x: hidden;
  height: 41vh;
  background-color: white;
  color: green;
  /* box-shadow: -5px 0px 10px 5px rgba(31, 31, 31, 0.459); */
}

.chatroom-window-container {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 50%;
  font-family: "Arial";
  background-color: white;
  margin: 8px;
  top: 73%;
  left: 25%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.chatroom-window-header {
  padding: 10px;
  border-width: 0px;
  border-color: black;
  border-bottom-width: 2px;
  border-style: solid;
  background-color: rgba(52, 81, 109);
  text-align: center;
  color: #fff;
  height: 20px;
  font-size: inherit;
}

.chatroom-window-header-middle {
  display: inline;
}

.chatroom-window-close-outside {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  float: right;
}

.chatroom-window-close-outside:hover {
  cursor: pointer;
}

.chatroom-window-close-x-left {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  z-index: 1;
}

.chatroom-window-close-x-right {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  z-index: 2;
}

.chatroom-container {
  padding: 10px;
  grid-area: msg;
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  padding: 0.1em;
  /* width: 100%; */
  color: black;
  overflow: auto;
  word-wrap: break-word;
  /* line-height: 0.8em; */
  padding-bottom: 1em;
}

.msgContainer {
  padding-left: 0.5em;
  border-left: 0.01em solid rgba(0, 0, 0, 0.125);
  padding: 0.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap;
  margin-top: auto;
  margin-bottom: auto;
}

/* .chatUserId {
  display: block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

.chatMessages {
  grid-area: msg;
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  padding: 0.1em;
  /* width: 100%; */
  color: black;
  overflow: auto;
  word-wrap: break-word;
  padding-bottom: 1em;
}

.chatMessages::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chatMessages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chatMessages::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

/* Handle on hover */
.chatMessages::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

.chatMessage {
  margin: 0.35em;
  /* max-width: 80%; */
  border-radius: 0.5em;
  background-color: white;
  transition-duration: 0.25s;
  background-color: rgba(199, 199, 199, 0.274);
  display: flex;
}

.profileName {
  margin: auto;
}

.chatTime {
  color: rgb(187, 187, 187);
  font-style: italic;
  font-size: 0.6em;
  padding-left: 2%;
  margin-top: -5px;
}

.chatTime.user {
  color: rgb(167, 167, 167);
  font-style: italic;
  font-size: 0.6em;
  display: block;
  text-align: right;
}

.chatProfile {
  white-space: nowrap;
  color: cornflowerblue;
  height: 100%;
  padding-right: 0.5em;
  width: auto;
  display: flex;
  padding: 0.5em;
}

.chatBlock {
  display: block;
  padding-right: 0.5em;
}

.chatbar {
  grid-column: 1;
  grid-row: 2;
  display: inline-flex;
  height: 50px;
}

.chatinput::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chatinput::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chatinput::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

/* Handle on hover */
.chatinput::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

.chatinput {
  resize: none;
  line-height: normal;
  outline: none;
  width: 85%;
  border-color: rgb(202, 202, 202);
  overflow-y: scroll;
}

.chatSend {
  border: none;
  background-color: rgb(230, 230, 230);
  transition-duration: 0.15s;
  color: rgb(92, 92, 92);
  outline: none;
  width: 15%;
  overflow: hidden;
}

.chatSend:hover {
  background-color: rgb(209, 209, 209);
  transition-duration: 0.15s;
}

.chatSend:active {
  background-color: rgb(133, 133, 133);
  transition-duration: 0.15s;
  outline: none;
}

.chatSend:focus {
  outline: none;
}

.chatContainer {
  background-color: white;
  /* padding: 0.1em; */
  height: 99%;
  width: 100%;
  color: black;
  overflow: auto;
  word-wrap: break-word;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15%;
}

.react-tabs__tab-list {
  margin: 0px 0px 0px 5px;
}

.react-tabs__tab {
  margin: 0px 0px 0px 5px;
}
