*,
*::before,
*::after {
  box-sizing: unset !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#homeTest {
  display: flex;
}

.map-container {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.map-marker-container {
  height: 75px;
  width: 75px;
  float: right;
  margin-top: 12px;
  background: url("https://api.iconify.design/gg-profile.svg?color=white") no-repeat center center / contain;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: transform 250ms;
}

.map-marker-container:hover {
  transform: translateY(-3px);
}

.mapPopup {
  display: none;
}

.mapboxgl-popup-content {
  background-color: rgb(255, 255, 255, 90%) !important;
  border-radius: 5px;
}

.popupTitle {
  font-size: 14pt;
  display: inline;
}

.popupCancelButton {
  font-size: 12pt;
  display: inline;
  float: right;
  line-height: 5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popupCancelButton:active {
  font-size: 15pt;
  line-height: 3px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

html {
  background-color: rgba(163, 163, 163, 0.6);
}

.event-form {
  padding: 10px;
}

.event-form-label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.event-input-text,
.event-textarea,
.event-input-date {
  width: 404px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: inherit;
}

.event-submit-buttons {
  background-color: rgba(52, 81, 109);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 12px;
  font-size: inherit;
}

.event-submit-buttons:hover {
  background-color: rgba(25, 40, 54);
}

.event-create-container {
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 450px;
  background-color: white;
  margin: 8px;
  top: 40%;
  left: 70%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.event-header {
  padding: 10px;
  border-width: 0px;
  border-color: black;
  border-bottom-width: 2px;
  border-style: solid;
  background-color: rgba(52, 81, 109);
  text-align: center;
  color: #fff;
  height: 20px;
  font-size: inherit;
}

.event-row:after {
  content: "";
  display: table;
  clear: both;
}

.event-col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.event-col-75 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.event-col-50-left {
  float: left;
  width: 49%;
  margin-top: 12px;
}

.event-col-50-right {
  float: right;
  width: 49%;
  margin-top: 12px;
}

.event-col-25,
.event-col-75,
.event-submit-buttons {
  width: 100%;
  margin-top: 0;
}

.event-header-middle {
  display: inline;
}

.event-close-outside {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  float: right;
}

.event-close-outside:hover {
  cursor: pointer;
}

.event-close-x-left {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  z-index: 1;
}

.event-close-x-right {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  z-index: 2;
}

.create-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.create-buttons-left {
  float: left;
  transition: transform 250ms;
  width: 100px;
  height: 100px;
  background: rgb(0 132 255 / 80%);
  bottom: 30px;
  right: 155px;
}

.create-buttons-left:hover {
  cursor: pointer;
  background: rgb(0 132 255 / 95%);
  transform: translateY(-3px);
}

.create-buttons-right {
  margin-left: 25px;
  float: right;
  transition: transform 250ms;
  width: 100px;
  height: 100px;
  background: rgb(0 132 255 / 80%);
  bottom: 30px;
  right: 30px;
}

.create-buttons-right:hover {
  cursor: pointer;
  background: rgb(0 132 255 / 95%);
  transform: translateY(-3px);
}

.circleBase {
  border-radius: 50%;
  position: absolute;
}

.type1 {
}

.outer-icon {
  padding-top: 12.5px;
  height: 87.5px;
  width: 100px;
}

.inner-calendar-icon {
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  /* filter: invert(100%); */
  background: url("https://api.iconify.design/fluent:calendar-add-20-filled.svg?color=white") no-repeat center center / contain;
}

.inner-group-icon {
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  /* filter: invert(100%); */
  background: url("https://api.iconify.design/fluent:people-team-add-20-filled.svg?color=white") no-repeat center center / contain;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

svg {
  /* pointer-events: none; */
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.friend-item {
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  background-color: #eee;
  width: 300px;
}

.friends-list-container {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 2;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.friends-list-header {
  font-size: 15pt;
  color: white;
  display: flex;
  max-inline-size: 300px;
  justify-content: center;
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  background-color: rgb(52, 81, 109);
}

.bi.bi-circle-fill {
  fill: rgb(44, 248, 44);
}

.friend-list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.friend-list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.125);
}

.friend-list-group-item:first-child {
  border-radius: inherit;
}

.friend-list-group-item:last-child {
  border-radius: inherit;
}

.profile-text {
  margin-bottom: 10px;
  display: inline;
  padding-left: 10px;
  font-size: 12pt;
}

.profile-title {
  font-weight: bold;
  display: inline;
  font-size: 12pt;
}

.profile-pic {
  display: flex;
  margin-bottom: 10px;
}

.chat {
}

/* ultimate chatroom container */
.chatroom {
  width: 100%;
  float: left;
  background-color: white;
  border: grey;
  font-size: 1rem;
  overflow-x: hidden;
  height: 41vh;
  background-color: white;
  color: green;
  /* box-shadow: -5px 0px 10px 5px rgba(31, 31, 31, 0.459); */
}

.chatroom-window-container {
  background-color: white;
}

.chatroom-window-header {
  padding: 10px;
  border-width: 0px;
  border-color: black;
  border-bottom-width: 2px;
  border-style: solid;
  background-color: rgba(52, 81, 109);
  text-align: center;
  color: #fff;
  height: 20px;
  font-size: inherit;
}

.chatroom-window-header-middle {
  display: inline;
}

.chatroom-window-close-outside {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  float: right;
}

.chatroom-window-close-outside:hover {
  cursor: pointer;
}

.chatroom-window-close-x-left {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  z-index: 1;
}

.chatroom-window-close-x-right {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  z-index: 2;
}

.chatroom-container {
  padding: 10px;
  grid-area: msg;
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  padding: 0.1em;
  /* width: 100%; */
  color: black;
  overflow: auto;
  word-wrap: break-word;
  /* line-height: 0.8em; */
  padding-bottom: 1em;
}

.msgContainer {
  padding-left: 0.5em;
  border-left: 0.01em solid rgba(0, 0, 0, 0.125);
  padding: 0.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap;
  background-color: rgba(199, 199, 199, 0.274);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  min-width: 30px;
}

/* .chatUserId {
  display: block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

.ant-input[disabled] {
  color: rgb(0 0 0 / 70%) !important;
}

.ant-switch-disabled {
  opacity: 0.75 !important;
}

.chatMessages {
  background-color: white;
  padding: 0.1em;
  width: 100%;
  color: black;
  overflow-y: auto;
  padding-bottom: 1em;
  position: inherit;
  display: block;
  padding: 50px 0px 70px 0px;
}

.chatMessages::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chatMessages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chatMessages::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

/* Handle on hover */
.chatMessages::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

.chatMessage {
  margin: 0.35em;
  /* max-width: 80%; */
  border-radius: 0.5em;
  background-color: white;
  transition-duration: 0.25s;
  /* background-color: rgba(199, 199, 199, 0.274); */
  display: flex;
}

.chatProfileName {
  margin: 3px;
}

.profileName {
  margin: 3px;
  color: grey;
}

.profileName.online {
  margin: auto;
  color: unset;
}

.profileImg {
  border-radius: 20px;
  border: 3px solid #bdbdbd;
}

.profileImg.online {
  border-radius: 20px;
  border: 3px solid #00da6b;
}

.chatTime {
  color: rgb(187, 187, 187);
  font-style: italic;
  font-size: 0.6em;
  padding-left: 2%;
  margin-top: -5px;
}

.chatTime.user {
  color: rgb(167, 167, 167);
  font-style: italic;
  font-size: 0.6em;
  display: block;
  text-align: right;
}

.chatProfile {
  white-space: nowrap;
  color: cornflowerblue;
  /* height: 100%; */
  padding-right: 0.5em;
  width: auto;
  /* display: flex; */
  padding: 0.5em;
  background-color: rgba(199, 199, 199, 0.274);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.friendProfile {
  white-space: nowrap;
  color: cornflowerblue;
  height: 100%;
  padding-right: 0.5em;
  width: auto;
  display: flex;
  padding: 0.5em;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.friendProfile:hover {
  background-color: rgb(232, 232, 232);
  cursor: pointer;
}

.chatBlock {
  display: block;
  padding-right: 0.5em;
}

.chatbar {
  display: flex;
  height: 70px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.ant-modal-body::-webkit-scrollbar-button:start {
  height: 18px;
}

.ant-modal-body::-webkit-scrollbar-button:end {
  height: 35px;
}

.chatinput::-webkit-scrollbar,
.ant-modal-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chatinput::-webkit-scrollbar-track,
.ant-modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chatinput::-webkit-scrollbar-thumb,
.ant-modal-body::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

/* Handle on hover */
.chatinput::-webkit-scrollbar-thumb:hover,
.ant-modal-body::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

.chatinput {
  resize: none;
  line-height: normal;
  outline: none;
  width: 85%;
  border-color: rgb(202, 202, 202);
  overflow-y: scroll;
}

.chatSend {
  border: none;
  background-color: rgb(230, 230, 230);
  transition-duration: 0.15s;
  color: rgb(92, 92, 92);
  outline: none;
  width: 15%;
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chatSend:hover {
  background-color: rgb(209, 209, 209);
  transition-duration: 0.15s;
}

.chatSend:active {
  background-color: rgb(133, 133, 133);
  transition-duration: 0.15s;
  outline: none;
}

.chatSend:focus {
  outline: none;
}

.chatContainer {
  background-color: white;
  /* padding: 0.1em; */
  height: 99%;
  width: 100%;
  color: black;
  overflow: auto;
  word-wrap: break-word;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15%;
}

.react-tabs__tab-list {
  margin: 0px 0px 0px 5px;
  position: absolute;
  background-color: white;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-tabs__tab {
  margin: 0px 0px 0px 5px;
}

.tabCloseButton {
  display: inline-block;
  font-size: 8pt;
}

.add-friend {
  border: none;
  background-color: rgb(230, 230, 230);
  transition-duration: 0.15s;
  color: rgb(92, 92, 92);
  outline: none;
  overflow: hidden;
  display: inline;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.add-friend:hover {
  background-color: rgb(209, 209, 209);
  transition-duration: 0.15s;
}

.add-friend:active {
  background-color: rgb(133, 133, 133);
  transition-duration: 0.15s;
  outline: none;
}

#ProfileContextTest {
  width: 50%;
}

#ProfileAtomTest {
  width: 50%;
}

#account-wrapper {
  display: flex;
}

.nav-profile {
  padding: 0.5em;
  height: 25px;
  width: 25px;
  margin-top: 8px;
  background: url(https://api.iconify.design/gg-profile.svg?color=white) no-repeat center center / contain;
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 50ms;
  border: 2px solid rgb(0 0 0 / 0%);
}
.nav-profile:hover {
  border: 2px solid rgb(99 99 99 / 40%);
}

#GoogleLogin > button > span {
  padding: 10px 10px 10px 0px !important;
  font-weight: 400 !important;
  font-family: system-ui !important;
  color: #777777 !important;
  margin-bottom: 3px !important;
  line-height: 18px !important;
  font-size: 1.2em !important;
}
#GoogleLogin > button > div {
  padding: 1px !important;
  margin-left: 10px !important;
}

.nav-item {
  display: inline-block;
  padding: 0.5em;
}

#navBar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  background-color: rgb(74 74 74 / 17%);
  width: 100%;
}

#logo {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-left: 5px;
  /* background-color: #37628c; */
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
}
#logoName {
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-size: 2em;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", sans-serif, Geneva, Tahoma, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: system-ui;
}
#globeChatsLogo {
  width: 35px;
  margin: auto;
  padding-right: 0.5em;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.loading {
  position: absolute;
  width: 60px;
}

#openChatroomBtn {
  position: absolute !important;
  bottom: 5px;
  left: 5px;
  z-index: 5;
  width: 200px;
  border: 1px solid #777777;
}

#openChatroomBtn:hover {
  border: 1px solid #40a9ff;
}

.ant-design-draggable-modal .ant-modal-body {
  display: flex;
}

.ant-modal-wrap.ant-design-draggable-modal {
  z-index: 100 !important;
}

.ant-design-draggable-modal .ant-modal {
  top: 577.5px;
  left: 7px;
}

.ant-design-draggable-modal .ant-modal-footer {
  display: none;
}

.ant-design-draggable-modal .ant-modal-body {
  padding: 0 !important;
  margin: 0 !important;
}

#friendsListContainer {
  position: absolute;
  left: -175px;
  width: 175px;
  top: 63px;
  background-color: rgb(255, 255, 255);
  height: 87vh;
  border-right: 1px solid rgb(240, 240, 240);
  overflow: auto;
  direction: ltr;
  transition: left 100ms;
  z-index: 1;
}

.anticon {
  padding-top: 2px !important;
}

.anticon-close-circle svg:hover {
  color: rgb(220, 59, 59);
}

#friendlistToggleBtn {
  position: absolute;
  left: 10px;
  top: 70px;
  padding: 5px 5px 0px 10px;
  width: 100px;
  display: inline-flex;
  direction: ltr;
  transition: left 200ms;
  z-index: 6;
}

#friendlistToggleBtnLabel {
  padding-left: 10px;
  color: white;
  /* margin: auto; */
  font-size: 12pt;
}

#onlineFriendsList {
  padding: 0px 10px 10px 10px;
}

#offlineFriendsList {
  padding: 20px 10px 10px 10px;
}

#friendsListContainer > #onlineFriendsList > .ant-divider-horizontal,
#friendsListContainer > #offlineFriendsList > .ant-divider-horizontal {
  margin: 12px 0 !important;
}

#membersListContainer {
  position: absolute;
  left: -175px;
  width: 175px;
  height: 100%;
  top: 0px;
  background-color: rgb(245, 245, 245);
  height: 100%;
  border-right: 1px solid rgb(240, 240, 240);
  overflow: hidden;
  direction: ltr;
  transition: left 100ms;
  z-index: -1;
}

#memberslistToggleBtn {
  position: absolute;
  left: 10px;
  top: 7.5px;
  padding: 0px 5px;
}

.ant-design-draggable-modal-title {
  text-align: center;
}

.kickUserBtn {
  display: block !important;
  margin-bottom: 0.5em !important;
}

.memberProfile {
  white-space: nowrap;
  color: cornflowerblue;
  padding-right: 0.5em;
  width: 100%;
  display: inline-block;
  padding: 0.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.memberProfile:hover {
  background-color: rgb(232, 232, 232);
  cursor: pointer;
}

.chatroomDetails {
  font-size: 10pt;
  /* padding: 1em; */
  margin: auto;
  text-align: center;
  display: flex;
  padding: 1em;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.membersListTitle {
  font-size: 12pt;
  padding: 0.5em;
  text-align: center;
  background-color: white;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* border */
}

.membersList {
  padding: 5px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 95px);
  width: 95%;
}

.membersList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.membersList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.membersList::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

/* Handle on hover */
.membersList::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}
