code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.map-container {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

#account-wrapper {
  float: right;
}

.nav-item {
  display: inline-block;
  padding: 0.5em;
}

html {
  background-color: rgb(52, 81, 109);
}
